[user]
	email = ryan.nash@accenture.com
	name = Ryan Nash
[core]
        editor = /opt/homebrew/bin/nvim
[push]
	autoSetupRemote = true
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
